@charset "utf-8";

body{
background:#004040;
color:#ffffff;
letter-spacing:0.05em;
}

a:link{
color:#eeffee;
}
a:hover{
color:red;
}
a:visited{
color:#dddddd;
}
h1{
font-size:120%;
}
h2{
font-size:110%;
margin-left:1%;
}
h3{
font-size:105%;
margin-left:3%;
color:yellow;
}
h4{
margin-left:5%;
color:#00FFFF;
}
h5{
margin-left:7%;
}
p{
text-indent:1em;
margin-left:6%;
}
ul{
margin-left:10%;
}
div{
background:#206060;
margin:0% 5%;
}
div p{
font-size:85%;
margin-left:0%;
}
